.section-intro {


    background-color: var(--primary);

    width: 100%;
    height: 100%;


}



.intro-imagen {

    /* border: 5px solid blueviolet; */
    width: 100%;
    height: 100vh;
    position: relative;


}





.imagen-fondo {


    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    filter: brightness(0.7);
    /* padding:3rem; */


}




.logo-cta{


    display: flex;
    flex-direction: column;
    gap: 3rem;

    position: absolute;
    width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        padding: 1rem;
        padding-top: 8rem;


}




.logo {

width: 100%;


}



.btn-cont{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}


.boton-cta{

    background-color: var(--background);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    font-family: gafiton;
    color: var(--text);
    cursor: pointer;
}