.titulo-ubicacion {

    color: var(--primary);
    font-size: 9.5vw;
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
    padding: 0 1rem;
    line-height: 01;
    margin-top: 4rem;
    background-color: transparent;

}



.mapa-card {

    width: 100%;
    min-height: 100dvh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.imagen-mapa {
    /* border: 6px solid green; */
    width: 100%;
    height: object-fit;
    position: relative;


}


.ilu-mercado {

    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    object-fit: cover;
    /* position: absolute;
    top: 10%; */


}


.horarios {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    gap: 0.5rem;
    align-items: center;

    z-index: 10;

    padding: 0.5rem 1rem;



}

.footer {
    padding: 1rem;
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;


    /* background-color: pink; */






}

.mensajito-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* espacio entre el botón y el desplegable */
}

.mensaje-opciones-desplegable {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
}


.mensajito {
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary);
    cursor: pointer;
}



.mensajito-phone {
    display: flex;
    align-items: first baseline;
    gap: 0.7rem;
    color: var(--primary);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--primary);
    cursor: pointer;
}


.mensaje-opciones {

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.opcion-mensaje {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    color: var(--primary);
    cursor: pointer;
}


.opcion {
    line-height: 0.7;
}





.mensaje-opciones-desplegable {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}


.flecha-rotada {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.mensajito svg {
    transition: transform 0.3s ease;
}


.mensajito, .mensajito-phone{
    margin-left: 0.5rem;
}




.footer-privacy{
    display: none;
}




@media (min-width:768px) {




    .mapa-card {
        /* border: 7px solid salmon; */
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }



    .titulo-ilustracion {
        /* background-color: blueviolet; */
        display: flex;
        /* border: 7px solid green; */
        position: relative;
    }


    .titulo-ubicacion {
        font-size: 6vw;
        margin-top: 3rem;
        width: 50%;
        word-wrap: break-word;
        /* background-color: blueviolet; */
    }


 




    .imagen-mapa {
        width: 55%;
        height: auto;
        /* border: 6px solid yellow; */
        display: flex;
        justify-content: right;
        position: absolute;
        right: -5%;
        top: 8%;
        margin-top: 3rem;

    }

    .horarios {
        margin-top: 2rem;
    }


    .ilu-mercado {

        background: transparent;
        width: 100%;
        height: 100%;


    }



    .ubicacion {
        background-color: pink;
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 100vh;

        position: relative;
    }




    .horarios,
    .footer {
        width: 38.5%;
        margin-left: 0.3rem;
    }

















}




@media (min-width:1024px) {


    .footer-privacy{

        display: block;
        background-color: var(--primary);
        padding: 0.5rem;
            border-radius: 10px 10px 0 0 ;
    cursor: pointer;
    
    }
    
    
    .footer-info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    
    .logo-img{
        width: 100px;
        margin-bottom: 0.1rem;
    }
    
    .parrafo{
        color: var(--background);
    }
    
    

    .titulo-ubicacion {
        font-size: 6vw;
        margin-top: 1rem;
        width: 80%;
        word-wrap: break-word;
        /* background-color: blueviolet; */
    }





    .imagen-mapa {
        width: 55%;
        height: auto;
        /* border: 6px solid yellow; */
        display: flex;
        justify-content: right;
        position: absolute;
        right: -5%;
        top: 0%;
        margin-top: 3rem;

    }

    
}