.titulo-ubicacion{
    color: var(--primary);
    font-size: 3.3rem;
    width: 70%;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
    padding: var(--padding);
  
}


.ubicacion{

   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    background-color: var(--background);

   
}

.mapa{
    /* background-color: aqua; */
    width: 100%;
    position: relative;

}



.mapa-card{
    
    width: 100%;
    /* background-color: palegreen; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.imagen-mapa{
    /* background-color: pink; */
    width: 100%;
    height: 40vh;
   
}


.ilu-mercado{
    /* margin-top: 7.5rem;*/
    width: 100%;
    height: 56vh;
    object-fit: cover;
    position: absolute;
    top: 16%;
    right: 0;
    /* background-color: pink; */
}


.horarios{
    width: 73%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    /* position: absolute;
    left: 0;
    bottom: 0%; */
    z-index: 10;
    
    padding: var(--padding);
   
}





@media (min-width:768px) {



    .ubicacion{
        /* background-color: pink; */
        position: relative;
    }

    .mapa-card{

        display: flex;
        flex-direction: row;
    }


    .imagen-mapa{
        width: 60%;
        height: 75vh;
        /* border: 6px solid yellow; */
        /* background-color: aqua; */
        position: absolute;
        display: flex;
        justify-content: right;
        right: -5%;
        top: 15%;
    }



    .ilu-mercado{
        width: 100%;
        height: 100%;
        position: static;
        
    }




    .titulo-ubicacion{
        font-size: 7vw;
        width: 50%;
    }



    .mapa{
        /* background-color: rebeccapurple; */
        position: static;
    }
    


    .horarios{
        width: 30%;
    }


}