/* cards horarios */
.card {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem ;
    border: 2px solid var(--primary);
    width: 100%;
    color:var(--primary);
    border-radius: 8px;



}


.calle{
    /* background-color: aqua; */
   
    font-size: 12px;
}


.card-location {

    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--primary);
    padding: 0.5rem;
    color: var(--background);
    border-radius: 8px;

}

.icon {
    font-size: 1.5rem;

}


.dia{}







/* cards cajas */


.caja-item{
  
    width: 100%;
    height: 90px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    
}

.caja-item.abierta{
    height: auto;
}


.caja-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;


}



.nombre{
    width: 100%;
    font-family: gafiton;
    color: var(--background);
}


.caja-toggle{
    border: none;
    background: none;
    color: var(--background);
    cursor: pointer;
}




.caja {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    width: 100%;
    color: var(--background);
}



.caja-contenido{
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.imagen-box{
    /* border: 5px solid yellow; */
    height: 32vh;
    width: 100%;
    overflow: hidden;
    display: block;
}


.caja-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.caja-info{

    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    padding: 1rem;
  
    /* background-color: rebeccapurple; */
 
}


.caja-texto-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: first baseline;
}






.btn-container{

    background-color: var(--background);
    
    font-family: gafiton;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
padding: 1rem;
margin-bottom: 1rem;
    
}

.caja-btn {

   


    display: flex;
    justify-content: center;
    width: 100%;
}





.overlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

}



.card-options{

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
   


}



.producto-overlay{
    /* background-color: green; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
   
    color: var(--background);
}


.overlay-producto-tipos {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
   
}



.tipos{
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--background);
    color: var(--background);
    background-color: transparent;
    transition: all 0.3s ease;

}




.caja-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    /* background-color: yellow; */
    width: 100%;
}



.info-resumen{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.resumen-nombre{
    text-align: center;
}

.input-nombre{
    padding: 0.5rem;
    background: none;
    border: 1px solid var(--background);
    color: var(--background);
    border-radius: 8px;
    font-family: sans;
    transition: all 0.3s ease;
    margin-top: 1rem;
    width: 60%;



}

.input-nombre::placeholder {
    color: var(--background);
    opacity: 0.9; /* Asegura que no esté semi-transparente */
  }
  

input:focus{

    outline: none;
    box-shadow:1px 1px 7px var(--background) ;
}





  

.caja-resumen{

    /* background-color: aqua; */
    width: 100%;
}



.check {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-color: white;
    border: 2px solid var(--color-caja);
    transition: background-color 0.3s ease;
  }
  
  .check:checked {
    background-color: var(--color-caja);
  }
  
  .check:checked::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white; /* ⚠️ este debe ser blanco */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: aparecerCirculo 0.2s ease forwards;
  }
  
  @keyframes aparecerCirculo {
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  
.producto-overlay{
    width: auto;
}





/* contacto */


.card-contacto{
    width: 100%;
    color: var(--primary);
    padding: var(--padding);
    border: 2px solid var(--primary);
    border-radius: 8px;
   display: flex;
 flex-direction: column;
 gap: 1rem;
}


.contacto-lista{
    display: flex;
    justify-content: space-between;
}


.telefono{
    display: flex;
    justify-content: space-between;
    align-items: center;
}









@media (min-width: 768px) {



    /* cajas */


    .nombre-caja{
        font-size: 5vw;
    }
    
    .caja-contenido{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    

    .caja-item{
        gap:0;
    }


    .caja-info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: yellow; */
        width: 100%;
    }
    .descripcion{
        /* background-color: aqua; */
        width: 100%;
    }


   

    .imagen-box{
border-radius: 8px; 
margin: 1rem;   

}


.icons{
    font-size: 1.5rem;
}



}