.section-about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid blue; */
   min-height: 100vh;

}




.fondo {
    width: 100%;
    display: flex;
   

    flex-direction: column;
    background-color: var(--primary);
    opacity: 0.8;
    color: var(--background);
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 4px;

}

.imagen-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subheader-nav {
    /* background-color: palegoldenrod; */
}

.subheader-tabs {
    display: flex;
    gap: 2rem;
    /* border: 5px gray solid; */
}

.tab-option {
    font-family: gafiton;
    cursor: pointer;
    /* background-color: red; */
    width: 100%;
}





.tab-icon {
    display: flex;
    justify-content: end;

    /* background-color: pink; */
    width: 100%;
    gap: 1rem;
    /* align-items: center; */
}

.conoce {
    font-size: 10vw;
}






.mesita-texto{
    text-align: start;
}



.contenido {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-top: 1rem;
}


.ilustracion {
    width: 55%;
    height: 25vh;
    display: flex;
    justify-content: end;
}

.ilu {
    width: 100%;
  
    height: 100%;
    object-fit: cover;

    background-color: var(--background);
    border-radius: 8px;

}






@media (min-width:768px) {





    .fondo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: auto;
        gap: 0;
    }




    .tab-content{
        /* background-color: green; */
        height: fit-content;
        height: 100%;
        width: 100%;
    }



    .contenido {
        display: flex;
        flex-direction: row;
        padding: var(--padding);
        /* border: 4px solid pink;   */
        align-items: center;
        justify-content: space-between;
        height: 100%;

    }



 .conoce{
    margin-top: 2rem;
 }



    .mesita-texto {
        /* background-color:palegreen; */
        width: 35%;
    }





    .ilustracion {
        /*  */
        width: 45%;
        height: 300px;

        border-radius: 4px;
    }






    .ilu {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}