.section-about {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid blue; */

    width: 100%;

    overflow: hidden;


}



.fondo-img {
    width: 100%;
    height: 117vh;
    object-fit: cover;
}







.fondo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 70%;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 242, 222, 0.6);
    border-radius: 4px;
    /* background-color: pink; */
    padding: 1rem;

    box-shadow: 0.5px 0.5px 20px var(--text);
}





.texto-final {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 13%;
}


.closing {
    color: var(--background);
    text-align: center;

}

.conoce {
    margin-top: 1rem;
    width: 100%;
    font-size: 10vw;
    color: var(--text);
    padding: 0 1rem;
}






.mesita-texto {
    text-align: start;
    color: var(--text);
    padding: 0.5rem 1rem;
    /* background-color: aqua; */
    width: 100%;
}






.mesita-imagen {
    width: 100%;
    height: 46vh;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */

}

.imagen-about {
    width: 100%;
    height: 100%;
    object-fit: contain;
}







@media (min-width:768px) and (max-width:1023px) {


    .fondo-about {
        width: 100%;
        height: 100vh;
    }


    .fondo {
        width: 50%;
        height: auto;
        border-radius: 0;


    }







    .fondo-img {
        filter: brightness(0.9);
    }


    .tab-content {
        /* background-color: green; */
        height: fit-content;
        height: 100%;
        width: 100%;
    }



    .contenido {
        display: flex;
        flex-direction: row;
        padding: var(--padding);
        border: 4px solid pink;
        align-items: center;
        justify-content: space-between;
        height: 100%;

    }



    .conoce {
        margin-top: 3rem;
    }



    .mesita-texto {
        /* background-color:palegreen; */
        width: 100%;
    }


    .texto-imagen-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }




    .mesita-imagen {
        /*  */
        width: 45%;
        height: 45vh;

        border-radius: 4px;
    }






    .ilu {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}




@media (min-width:1024px) {

    .fondo {
        top:40%;
        width: 25%;
    }




}