.section-about {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid blue; */

    width: 100%;
    height: 100vh;

    overflow: hidden;


}



.fondo-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



.fondo {

    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 242, 222, 0.4);
    border-radius: 4px;
    /* padding: 1rem; */
}




.conoce {
    margin-top: 1rem;
    width: 100%;
    font-size: 9vw;
    color: var(--primary);
    padding: 0 1rem;
}






.mesita-texto {
    text-align: start;
    color: var(--primary);
    padding: 0.5rem 1rem
}






.mesita-imagen {
    width: 100%;
    height: 32vh;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */

}

.imagen-about {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







@media (min-width:768px) {


.fondo-about{
    width: 100%;
    height: 100vh;
}


    .fondo {
      width: 100%;
      height: auto;
      background-color: rgba(249, 242, 222, 0.5);
      border-radius: 0;


    }



    .fondo-img{
        filter: brightness(0.9);
    }


    .tab-content {
        /* background-color: green; */
        height: fit-content;
        height: 100%;
        width: 100%;
    }



    .contenido {
        display: flex;
        flex-direction: row;
        padding: var(--padding);
        border: 4px solid pink;  
        align-items: center;
        justify-content: space-between;
        height: 100%;

    }



    .conoce {
        margin-top: 3rem;
    }



    .mesita-texto {
        /* background-color:palegreen; */
        width: 50%;
    }


    .texto-imagen-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }




    .mesita-imagen {
        /*  */
        width: 45%;
        height: 45vh;

        border-radius: 4px;
    }






    .ilu {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}