.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.header-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}

.menu-container {
  position: relative;

}

.menu-icon-wrapper {
  cursor: pointer;
}

.menu-icon,
.header-menu {
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 40;
  position: relative;
  color: var(--background);
}


.header-menu{

  background-color: var(--primary);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
}

.header-ul {
  position: fixed;
  top: 4px;
  right: 4px;
  width: 90vw;
  height: calc(100dvh - 8px);
  background-color: var(--primary);
  box-shadow: 1px 1px 10px var(--primary);
  list-style: none;
  padding: 8rem 0rem 0 1rem;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 20px 10px 10px 20px;
}

.header-li a {
  text-decoration: none;
  text-align: end;
  width: 100%;
  color: var(--background);
  font-size: 14vw;
}



.header-li{
  /* background-color: pink; */
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--background);
}

/* Fondo desenfocado */
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}





.politica-redes{
  /* background-color: aquamarine; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 1rem;



}

.privacidad{
  /* background-color: aqua; */
  width: 100%;
  font-size: 2.5vw;
  cursor: pointer;
  color: var(--background);
  line-height: 1.1;

}

.rrss{
  /* background-color: pink; */
 display: flex;
 justify-content: end;
 align-items: center;
 gap: 35%;
 padding: 0 1rem;
width: 40%;

}


.icons{
  font-size: 4vw;
  color: var(--background);
  cursor: pointer;





}





.header-desk{display: none;}








@media (min-width:1023px) {


  .header{
    display: none;
    
  }



  .header-desk{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background-color: blueviolet; */
  }




  .desk-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .desk-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    gap: 2rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
   padding: 0.7rem 0.7rem 0.7rem 2rem;
    /* background-color: aqua; */
    background-color: rgba(255, 255, 255, 0.5);
    width: 55%;
    border-radius: 8px;
    
  }


.desk-li{
  /* background-color: pink; */
  width: 30%;
  text-align: center;
  /* border: 2px solid black; */


}



  .desk-li a{
    color: inherit;
  
  }




.desk-li:hover{
  


}


.text-header{

  font-family:sans-black ;
}


  .redes-lista{
    display: flex;
    gap: 2.5rem;
    /* background-color: pink; */

  }

.redes-icons a{

  color: inherit;

}


.logo-header{
  width: 55%;
  margin-top: 0.5rem;
  height: fit-content;
  /* background-color: aqua; */
}


  
}