



.section-cajas{
    padding-top: 2rem;
    padding: var(--padding);
    width: 100%;
    background-color: var(--background);
}




.titulo{
    font-size: 4rem;
    color: var(--primary);

}


.galeria{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin-top: 2rem;

}



.galeria-cajas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}



.cajas-li{
    width: 100%;
}



