.section-cajas {
   
    overflow-y: auto; 
    scroll-snap-align: start;
    scroll-snap-stop: always;
  
    display: flex;
    flex-direction: column;
   
    padding: var(--padding);
    background-color: var(--background);

}


.section-cajas::-webkit-scrollbar {
    width: 8px;
  }
  .section-cajas::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
  }
  


  .split-parent {
    overflow: visible !important;
  }
  
.titulo-cajas {
    font-size: 10vw;
    color: var(--primary);
    /* background-color: aqua; */
    width: 90%;

    margin-top: 4rem;


}


.galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 1rem;

}



.galeria-cajas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    position: relative;
    margin-top: 0rem;
    /* Simula apilamiento */
}






.cajas-li {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: auto;
    margin-bottom: -1rem;
    transition: transform 0.3s ease;
}


.cajas-li:hover {
    transform: translateY(-3px) scale(1.01);
    z-index: 99;
}


.texto{
    color: var(--primary);
}



.imagen-inicio{

    display: none;
}


   /* Contenedor del texto y el botón */
   .texto-ver-imagen {
    display: flex;
   flex-direction: column;
    gap: 1.5rem;
   margin-bottom: 0.5rem;
    position: relative;
    padding-bottom:4rem ;
  }
  
  /* Botón */
  .btn-ver-imagen {
    background: none;
    width: 30%;
    color: var(--primary);
    padding: 1rem 0.5em 0.8rem 0.8rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    border-radius: 10px;
    font-family: gafiton;
    position: absolute;
    bottom: 0;
    left: 0;
    
 
  
   
    border: 2px solid var(--primary);
  }
  
  /* .btn-ver-imagen:hover {
    background: #v;
    color: #fff;
  } */
  
  /* OVERLAY */
  .overlay-caja {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  /* Contenido interno del overlay */
  .overlay-imagen-wrapper {
    position: relative;
    border-radius: 10px;
  }
  
  .overlay-imagen {
    max-width: 80vw;
    max-height: 80vh;
    display: block;
  }
  
  /* Botón cerrar */
  .overlay-cerrar {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 0;
  }
  


@media (min-width:768px)  {



    .overlay-imagen-wrapper {
        position: relative;
        border-radius: 10px;
      }
      
      .overlay-imagen {
        max-width: 80vw;
        max-height: 80vh;
        display: block;
      }
      
      /* Botón cerrar */
      .overlay-cerrar {
        position: absolute;
        top: -10px;
        right: -10px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 1.5rem;
        cursor: pointer;
        line-height: 0;
      }



    .titulo-cajas {

        font-size: 8vw;
  
       
        /* background-color: aqua;  */
        width: 70%;
    }


    .text {
        position: absolute;
        /* background-color: yellow; */
        font-size: 14px;
        width: 40%;
        text-align: end;

        top: 30%;
        right: 0;

    }

    .galeria{
        margin-bottom: 2rem;
    }


    .txt-imagen{
        display: flex;
        align-items: first baseline;
        justify-content: space-between;
    }

  
    .texto{
        font-size: 2vw;
    }


    .caja-imagen{
        width: 23%;
        height: 48vh;
    }

    .imagen-inicio{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;

       
     

    }


    /* Contenedor del texto y el botón */
   .texto-ver-imagen {
    display: flex;
   flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1em;
    position: relative;
    padding-bottom:3.5rem ;
  }
  
  /* Botón */
  .btn-ver-imagen {
    background: none;
    width: 10%;
    color: var(--primary);
    padding: 1rem 0.5em 0.8rem 0.8rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    border-radius: 10px;
    font-family: gafiton;
    position: absolute;
    bottom: 0;
    left: 0;
 
  
    border: 2px solid var(--primary);
  }
  

 

}


