
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@font-face {
  font-family: gafiton;
  src: url('/fonts/gafiton-2.ttf');
  line-height: 1.8;
}





@font-face {
  font-family: sans;
  src: url('/fonts/DMSans-Regular.ttf');
}

@font-face {
  font-family: sans-black;
  src: url('/fonts/DMSans_18pt-Black.ttf');
}

:root {


  font-family: 'sans';
  font-size: 14px;
  line-height: 1.5;
  

  --primary: #1E13E4;
  --background:#f9f2de;
  --text:#191919;

  --padding:1rem;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}



html {
  /* scroll-snap-type: y proximity; proximity permite scroll interno más fácil */
  scroll-behavior: smooth;
  overflow-y: scroll;
    overflow-x: hidden;

}

body{

  background-color: var(--background);
  color: var(--text);


min-height:100dvh ; 
    overflow-x: hidden;

 
}


body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}




h1, h2, h3, h4, h5, h6{

  font-family: 'gafiton';
  line-height: 1;

}



li{
  list-style: none;
}



.section{


  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  scroll-snap-align: start; 
  background-color: var(--background);

  
}


strong{
  font-family: sans-black;
}


.section {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;  
}

.section::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}


a{
  text-decoration: none;
}






@media (min-width:768px) {


  :root{

    font-size: 16px;
  }
  
}